.sprite {
    background-image: linear-gradient(transparent, transparent), url(../img/sprite-de847d1a.svg);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle
}

.svg-Commons-logo_sister {
    background-position: 0 0;
    width: 47px;
    height: 47px
}

.svg-MediaWiki-logo_sister {
    background-position: 0 -47px;
    width: 42px;
    height: 42px
}

.svg-Meta-Wiki-logo_sister {
    background-position: 0 -89px;
    width: 37px;
    height: 37px
}

.svg-Wikibooks-logo_sister {
    background-position: 0 -126px;
    width: 37px;
    height: 37px
}

.svg-Wikidata-logo_sister {
    background-position: 0 -163px;
    width: 49px;
    height: 49px
}

.svg-Wikifunctions-logo_sister {
    background-position: 0 -212px;
    width: 50px;
    height: 50px
}

.svg-Wikimedia-logo_black {
    background-position: 0 -262px;
    width: 42px;
    height: 42px
}

.svg-Wikipedia_wordmark {
    background-position: 0 -304px;
    width: 176px;
    height: 32px
}

.svg-Wikiquote-logo_sister {
    background-position: 0 -336px;
    width: 42px;
    height: 42px
}

.svg-Wikisource-logo_sister {
    background-position: 0 -378px;
    width: 39px;
    height: 39px
}

.svg-Wikispecies-logo_sister {
    background-position: 0 -417px;
    width: 42px;
    height: 42px
}

.svg-Wikiversity-logo_sister {
    background-position: 0 -459px;
    width: 43px;
    height: 37px
}

.svg-Wikivoyage-logo_sister {
    background-position: 0 -496px;
    width: 36px;
    height: 36px
}

.svg-Wiktionary-logo_sister {
    background-position: 0 -532px;
    width: 37px;
    height: 37px
}

.svg-arrow-down {
    background-position: 0 -569px;
    width: 12px;
    height: 8px
}

.svg-arrow-down-blue {
    background-position: 0 -577px;
    width: 14px;
    height: 14px
}

.svg-badge_google_play_store {
    background-position: 0 -591px;
    width: 124px;
    height: 38px
}

.svg-badge_ios_app_store {
    background-position: 0 -629px;
    width: 110px;
    height: 38px
}

.svg-language-icon {
    background-position: 0 -667px;
    width: 22px;
    height: 22px
}

.svg-noimage {
    background-position: 0 -689px;
    width: 58px;
    height: 58px
}

.svg-search-icon {
    background-position: 0 -747px;
    width: 22px;
    height: 22px
}

.svg-wikipedia_app_tile {
    background-position: 0 -769px;
    width: 42px;
    height: 42px
}

.styled-select {
    display: block;
}